@model CatFoodSubscription.Web.ViewModels.Order.OrderCheckOutFormViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Order/checkout.css" />
    <title>Document</title>
</head>
<body class="checkout-page">
    <div class="row">
        <div class="col-75">
            <div class="container-checkout">
                <form method="post" asp-controller="Order" asp-action="CheckOut" asp-area="">
                    <div class="row">
                        <div class="col-50">
                            <h3>Shipping Address</h3>
                            <label asp-for="@Model.Address.FirstName"><i class="fa fa-user"></i> First Name</label>
                            <input asp-for="@Model.Address.FirstName" class="form-control" aria-required="true" placeholder="Kon" />
                            <span asp-validation-for="@Model.Address.FirstName" class="text-danger"></span>

                            <label asp-for="@Model.Address.LastName"><i class="fa fa-user"></i> Last Name</label>
                            <input asp-for="@Model.Address.LastName" class="form-control" aria-required="true" placeholder="Konev" />
                            <span asp-validation-for="@Model.Address.LastName" class="text-danger"></span>

                            <label asp-for="@Model.Address.Email"><i class="fa fa-envelope"></i> Email</label>
                            <input asp-for="@Model.Address.Email" class="form-control" aria-required="true" placeholder="kon@example.com" />
                            <span asp-validation-for="@Model.Address.Email" class="text-danger"></span>

                            <label asp-for="@Model.Address.PhoneNumber"><i class="fa fa-phone"></i> Phone Number</label>
                            <input asp-for="@Model.Address.PhoneNumber" class="form-control" aria-required="true" placeholder="087 999 9999" />
                            <span asp-validation-for="@Model.Address.PhoneNumber" class="text-danger"></span>

                            <label asp-for="@Model.Address.Street"><i class="fa fa-address-card-o"></i> Street</label>
                            <input asp-for="@Model.Address.Street" class="form-control" aria-required="true" placeholder="3 Gancho Karamazdhrakov str., BB 110" />
                            <span asp-validation-for="@Model.Address.Street" class="text-danger"></span>

                            <label asp-for="@Model.Address.City"><i class="fa fa-institution"></i> City</label>
                            <input asp-for="@Model.Address.City" class="form-control" aria-required="true" placeholder="Ruse" />
                            <span asp-validation-for="@Model.Address.City" class="text-danger"></span>

                            <input asp-for="@Model.CustomerId" class="form-control" aria-required="true" value="@Model.CustomerId" hidden="true" />
                            <input asp-for="@Model.OrderId" class="form-control" aria-required="true" value="@Model.OrderId" hidden="true" />


                            <div class="row">
                                <div class="col-50">
                                    <label asp-for="@Model.Address.Country"><i class="fa fa-globe"></i>Country</label>
                                    <input asp-for="@Model.Address.Country" class="form-control" aria-required="true" placeholder="Bulgaria" />
                                    <span asp-validation-for="@Model.Address.Country" class="text-danger"></span>
                                </div>
                                <div class="col-50">
                                    <label asp-for="@Model.Address.PostalCode">PostalCode</label>
                                    <input asp-for="@Model.Address.PostalCode" class="form-control" aria-required="true" placeholder="7019" />
                                    <span asp-validation-for="@Model.Address.PostalCode" class="text-danger"></span>
                                </div>
                            </div>
                            <button type="submit" class="btn-checkout">Finalize order</button>
                        </div>

                        <div class="col-50">
                            <h3>Payment</h3>
                            <p>Unfortunately for the moment we accept only cash at delivery!</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>


        <div class="col-25">
            <div class="container-checkout">
                <h4>
                    Cart
                    <span class="price" style="color:black">
                        <i class="fa fa-shopping-cart"></i>
                        @{
                            var subscriptionBoxCount = 1;
                            var totalProducts = Model.Products.Sum(p => p.Quantity) + subscriptionBoxCount;
                        }
                        <b>@totalProducts</b>
                    </span>
                </h4>
                <div class="subscription-box">
                    @if (Model.SubscriptionBox.Id != 0)
                    {
                        <h5>Subscription Box</h5>
                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <img class="img-fluid" src="@Model.SubscriptionBox.ImageUrl" width="62" height="62">
                                <div class="media-body my-auto">
                                    <div class="row ">
                                        <div class="col-auto">
                                            <p class="mb-0"><b>@Model.SubscriptionBox.Name</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pl-0  col-auto my-auto">
                                <p><span class="price"><b>@(Model.SubscriptionBox.Price)</b> BGN</span></p>
                            </div>
                        </div>
                        <hr style="color: #910A67; height: 2px;">
                    }
                </div>
                <div class="subscription-products">
                    @if (Model.Products.Any())
                    {
                        <h5>Subscription Products</h5>
                        @foreach (var product in Model.Products.Where(p => p.IsSubscription == true))
                        {
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">
                                        <img class="img-fluid" src="@product.ImageUrl" width="62" height="62">
                                    </a>
                                    <div class="media-body my-auto">
                                        <div class="row">
                                            <div class="col-auto">
                                                <p class="mb-0"><b>@product.Name</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pl-0  col-auto my-auto">
                                    <div class="quantity-box">
                                        <p><span class="quantity"><b>@product.Quantity</b></span></p>
                                    </div>
                                </div>
                                <div class="pl-0  col-auto my-auto">
                                    <p><span class="price"><b>@(product.Quantity * product.Price)</b> BGN</span></p>
                                </div>
                            </div>
                            <hr style="color: #910A67; height: 2px;">
                        }
                    }
                </div>
                <div class="one-time-products">
                    @if (Model.Products.Any())
                    {
                        <h5>Subscription Products</h5>
                        @foreach (var product in Model.Products.Where(p => p.IsSubscription == false))
                        {
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">
                                        <img class="img-fluid" src="@product.ImageUrl" width="62" height="62">
                                    </a>
                                    <div class="media-body my-auto">
                                        <div class="row">
                                            <div class="col-auto">
                                                <p class="mb-0"><b>@product.Name</b></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pl-0  col-auto my-auto">
                                    <div class="quantity-box">
                                        <p><span class="quantity"><b>@product.Quantity</b></span></p>
                                    </div>
                                </div>
                                <div class="pl-0  col-auto my-auto">
                                    <p><span class="price"><b>@(product.Quantity * product.Price)</b> BGN</span></p>
                                </div>
                            </div>
                            <hr style="color: #910A67; height: 2px;">
                        }
                    }
                </div>
                @{
                    var totalPrice = Model.Products.Sum(p => p.Quantity * p.Price) + Model.SubscriptionBox.Price;
                }
                <p>Total <span class="price"><b>@totalPrice</b> BGN</span></p>
            </div>
        </div>

    </div>
</body>
</html>