@model IEnumerable<CatFoodSubscription.Web.ViewModels.Order.OrderSummaryViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Order/index.css" />
    <link rel="stylesheet" href="~/js/site.js" />
    <title>Order Summary</title>
</head>
<body>
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="card shadow-lg">
                    <div class="row justify-content-around">
                        <div class="col-md-5">
                            <div class="card border-0">
                                <div class="card-header pb-0">
                                    <h2 class="card-title space">One-Time Purchase</h2>
                                    <p class="card-text text-muted mt-4 space">PRODUCTS</p>
                                    <hr class="my-0">
                                </div>
                                <div class="card-body">
                                    <!-- Display one-time purchase products -->
                                    @foreach (var product in Model.SelectMany(o => o.Products).Where(po => po.IsSubscription == false))
                                    {
                                        <!-- Render one-time purchase product information here -->
                                        <form asp-controller="Order" asp-action="UpdateQuantity" method="post">
                                            <input type="hidden" name="productId" value="@product.Id" />
                                            <div class="row justify-content-between">
                                                <div class="col-auto">
                                                    <img class="img-fluid" src="@product.ImageUrl" width="62" height="62">
                                                    <div class="media-body my-auto">
                                                        <div class="row ">
                                                            <div class="col-auto">
                                                                <p class="mb-0"><b>@product.Name</b></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pl-0  col-auto my-auto">
                                                    <div class="quantity-box">
                                                        <button type="submit" name="action" value="increase" class="quantity-btn">+</button>
                                                        <p class="boxed-1">@product.Quantity</p>
                                                        <button type="submit" name="action" value="decrease" class="quantity-btn">-</button>
                                                    </div>
                                                </div>
                                                <div class="pl-0  col-auto my-auto">
                                                    <p><b>@(product.Quantity * product.Price) BGN</b></p>
                                                </div>
                                            </div>
                                        </form>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="card border-0">
                                <div class="card-header pb-0">
                                    <h2 class="card-title space">Subscription Purchase</h2>
                                    <p class="card-text text-muted mt-4 space">SUBSCRIPTION PRODUCTS</p>
                                    <hr class="my-0">
                                </div>
                                <div class="card-body">
                                    <!-- Display subscription purchase products -->
                                    @foreach (var product in Model.SelectMany(o => o.Products).Where(po => po.IsSubscription == true))
                                    {
                                        <!-- Render one-time purchase product information here -->
                                        <form asp-controller="Order" asp-action="UpdateQuantity" method="post">
                                            <input type="hidden" name="productId" value="@product.Id" />
                                            <div class="row justify-content-between">
                                                <div class="col-auto">
                                                    <img class="img-fluid" src="@product.ImageUrl" width="62" height="62">
                                                    <div class="media-body my-auto">
                                                        <div class="row ">
                                                            <div class="col-auto">
                                                                <p class="mb-0"><b>@product.Name</b></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pl-0  col-auto my-auto">
                                                    <div class="quantity-box">
                                                        <button type="submit" name="action" value="increase" class="quantity-btn">+</button>
                                                        <p class="boxed-1">@product.Quantity</p>
                                                        <button type="submit" name="action" value="decrease" class="quantity-btn">-</button>
                                                    </div>
                                                </div>
                                                <div class="pl-0  col-auto my-auto">
                                                    <p><b>@(product.Quantity * product.Price) BGN</b></p>
                                                </div>
                                            </div>
                                        </form>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-md-5">
                        <div class="col">
                            <!-- Add Checkout button that redirects to the Checkout action -->
                            <a href="@Url.Action("CheckOut", "Order")" class="btn btn-lg btn-block btn-primary">CHECKOUT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>